/* CSS para Mobile First */
/* style.css 
 * Estilos para mobile first tela 428x926
 * GRID LAYOUT
 */
body {
	font-size: 12px;
}

header {
	background: blue;
	color: white;
	display: block;
	min-height: 1.5rem;
}

nav {
	float: right;
	padding-left: 0.8rem;
}

main {
	background: yellow;
	display: grid;
	grid-template-columns: 1fr;
}

section {
	background: orange;
	color: white;
	margin: 0.2rem;
}

article {
	background: chartreuse;
	color: blue;
	margin: 0.2rem;
	min-height: 4rem;
}

aside {
	background: red;
	min-height: 2rem;
}

footer {
	background: green;
	min-width: 1rem;
}

.rodape-box {
	background: rebeccapurple;
	margin: 0.1rem;
	min-width: 32%;
}

@media screen and (min-width: 768px) {
	/* Modificações para Tablet */
	body {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(6, 1fr);
	}
	header {
		grid-column-start: 1;
		grid-column-end: 7;
		grid-row-start: 1;
		grid-row-end: 2;
	}

	aside {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 2;
		grid-row-end: 6;
	}

	main {
		grid-column-start: 3;
		grid-column-end: 7;
		grid-row-start: 2;
		grid-row-end: 6;
	}

	footer {
		grid-column-start: 1;
		grid-column-end: 7;
		grid-row-start: 6;
		grid-row-end: 7;
	}
}

@media screen and (min-width: 1024px) {
	/* Modificações para Desktop */
	body {
		font-size: 16px;
	}
	main {
		grid-column-start: 1;
		grid-column-end: 5;
		grid-row-start: 2;
		grid-row-end: 6;
	}

	aside {
		grid-column-start: 5;
		grid-column-end: 7;
		grid-row-start: 2;
		grid-row-end: 6;
		background: black;
	}
}
